/* ladepeche.fr */
#noscript-paywall {
  display: none !important;
}
#noscript-paywall-content {
  display: none !important;
}
.article-full__body-content[data-state='fixed-height'] {
  max-height: none !important;
  overflow: visible !important;
}
.article-full__body-content[data-selection='disabled'] {
  user-select: text !important;
}

/* leparisien.fr */
#paywall-connect {
  display: none !important;
}
section.content {
  filter: none !important;
}

/* lesechos.fr */
.post-paywall > * {
  height: auto !important;
  overflow: visible !important;
  max-height: none !important;
}
.fmpbte:before {
  background: none !important;
}
[data-testid='post-description'] {
  display: none !important;
}

/* journaldunet.com */
.entry_reg_wall {
  overflow: visible !important;
  height: auto !important;
}
.reg_wall {
  display: none !important;
}

/* lemonde.fr */
.article__wrapper--premium {
  height: auto !important;
}
.paywall__container::before {
  display: none !important;
}

/* challenges.fr */
.user-paying-amorce {
  display: none !important;
}
.user-paying-content {
  display: block !important;
}
.temp-paywall {
  margin-top: 70px !important;
}

/* lejdd.fr */
article .cnt[data-poool-mode='hide'] {
  height: auto !important;
  overflow: visible !important;
}
article .cnt[data-poool-mode='hide']::after {
  display: none !important;
}
